DATABASE_NAME=dbname
DATABASE_USER=dbuser
DATABASE_PASSWORD=password
POSTGRES_PORT=15432
POSTGRES_CONTAINER_NAME=postgresql
NGINX_PORT=8088

DATABASE_URL="postgresql://user:password@postgresql:5432/ddb?serverVersion=16&charset=utf8"
